body {
  font-family: 'Lora';
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0.363)), url("../img/fondo.jpg");  FONDO PAGINA */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: black
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
}

p {
  line-height: 1.75;
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}

.site-heading {
  text-transform: uppercase;
  font-family: 'Raleway';
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
  padding-bottom:.5rem;

}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}


.section-heading .section-heading-under {
  display: block;
  font-size: 1rem;
  text-transform: none;
  font-weight: 300;
  margin-top:.5rem;
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}

#mainNav {
  background-color: rgb(166, 231, 12); /* FONDO BARRA PRINCIPAL */
  font-family: 'Raleway';
}

#mainNav .navbar-brand {
  color: #ffffff;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: rgba(231, 11, 11, 0.7);
  font-weight: 800;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: #ffffff;
  text-decoration: underline;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(214, 10, 10, 0.4);
    text-decoration: underline;
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}

.btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 75%;
    float: left;
  }
  .intro .intro-text {
    left: 600;
    width: 60%;
    margin-top: 3rem;
    background-color: rgb(42, 3, 114); /* FONDO LO MEJOR DEL GAMING */
    color: cornsilk;
    position: absolute;
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgb(42, 3, 114); /* FONDO COMPROMISO TOTAL */
  color: white;
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
}

.cta .cta-innerv {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

@media (min-width: 992px) {
  .about-heading .about-heading-img {
    position: relative;
    z-index: 0;
  }
  .about-heading .about-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .product-item .product-item-title {
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
  }
  .product-item .product-item-img {
    position: relative;
    z-index: 0;
    max-width: 60vw;
  }
  .product-item .product-item-description {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    max-width: 50vw;
  }
}



@media (min-width: 992px) {
  .list-hours {
    width: 50%;
    font-size: 1.1rem;
  }
}

.address strong {
  font-size: 1.2rem;
}

.footer {
   background-color: rgb(42, 3, 114); /* FONDO FOOTER */
   opacity: 0.95;
}



.btn {
  box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}



.font-weight-light {
  font-weight: 100 !important;
}

.mbtm{
  padding-top: 5rem;
}

.mbt{
  padding-top: 2rem;
}

.mbt1{
  padding-top: 1.25rem;
}

a.link{
  color: rgba(255, 255, 255, 0.7);
}

a.link:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

.section-content{
  font-family: 'Lora' !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 28px !important;
}

ul.errorlist{
  padding-top: .75rem;
  font-style: italic;
  color: red;
}

.contenedorFormulario{
  background-color: rgb(6, 80, 165);
  width: 50%;
  margin: 5px auto;
  border-radius: 8px;
  padding: 2px;
}

header{
  background-color: rgb(42, 42, 44);
}

#barra a{
  color: white;
  font-family: dubai;
  font-size: large;
  font-weight: bold;
}








body {
  background-color: #fff;
  size: 100%;
  width: auto;
  height: auto;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  color: RGBA(0,0,0,0.8);
}

main {
  margin: 4px 0 0px 0;
  background-color: #f6f6f6;
  min-height: 90%;
  padding-bottom: 100px;
}

.hidden {
  display: none
}

/* Shopping Cart Section - Start */
.shopping-cart {
  padding-bottom: 10px;
  overflow:hidden;
  transition: max-height 5s ease-in-out;
}

.shopping-cart.hide {
  max-height: 0;
  pointer-events: none;
}

.shopping-cart .content {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  background-color: white;
}

.shopping-cart .block-heading {
  padding-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.shopping-cart .block-heading p {
  text-align: center;
  max-width: 600px;
  margin: auto;
  color: RGBA(0,0,0,0.45);
}

.shopping-cart .block-heading h1,
.shopping-cart .block-heading h2,
.shopping-cart .block-heading h3 {
  margin-bottom: 1.2rem;
  color: #009EE3;
}

.shopping-cart .items {
  margin: auto;
}

.shopping-cart .items .product {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.shopping-cart .items .product .info {
  padding-top: 0px;
  text-align: left;
}

.shopping-cart .items .product .info .product-details .product-detail {
  padding-top: 40px;
  padding-left: 40px;
}

.shopping-cart .items .product .info .product-details h5 {
  color: #009EE3;
  font-size: 19px;
}

.shopping-cart .items .product .info .product-details .product-info {
  font-size: 15px;
  margin-top: 15px;
}

.shopping-cart .items .product .info .product-details label {
  width: 50px;
  color: #009EE3;
  font-size: 19px;
}

.shopping-cart .items .product .info .product-details input {
  width: 80px;
}

.shopping-cart .items .product .info .price {
  margin-top: 15px;
  font-weight: bold;
  font-size: 22px;
}

.shopping-cart .summary {
  border-top: 2px solid #C6E9FA;
  background-color: #f7fbff;
  height: 100%;
  padding: 30px;
}

.shopping-cart .summary h3 {
  text-align: center;
  font-size: 1.3em;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type) {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text {
  font-size: 1em;
  font-weight: 400;
}

.shopping-cart .summary .price {
  font-size: 1em;
  float: right;
}

.shopping-cart .summary button {
  margin-top: 20px;
  background-color: #009EE3;
}

@media (min-width: 768px) {

  .shopping-cart .items .product .info .product-details .product-detail {
    padding-top: 40px;
    padding-left: 40px;
  }

  .shopping-cart .items .product .info .price {
    font-weight: 500;
    font-size: 22px;
    top: 17px;
  }

  .shopping-cart .items .product .info .quantity {
    text-align: center;
  }

  .shopping-cart .items .product .info .quantity .quantity-input {
    padding: 4px 10px;
    text-align: center;
  }
}

/* Checkout Payment Section - Start */
.container_payment {
  display: none;
}

.payment-form {
  padding-bottom: 10px;
  margin-right: 15px;
  margin-left: 15px;
	font-family: "Helvetica Neue",Helvetica,sans-serif;
}
  
.payment-form.dark {
	background-color: #f6f6f6;
}
  
.payment-form .content {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  background-color: white;
}
  
.payment-form .block-heading {
  padding-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}
  
.payment-form .block-heading p {
  text-align: center;
  max-width: 420px;
  margin: auto;
  color: RGBA(0,0,0,0.45);
}
  
.payment-form .block-heading h1,
.payment-form .block-heading h2,
.payment-form .block-heading h3 {
  margin-bottom: 1.2rem;
  color: #009EE3;
}
  
.payment-form .form-payment {
  border-top: 2px solid #C6E9FA;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  background-color: #ffffff;
  padding: 0;
  max-width: 600px;
  margin: auto;
}
  
.payment-form .title {
  font-size: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 0.8em;
  font-weight: 400;
  padding-bottom: 8px;
}
  
.payment-form .products {
  background-color: #f7fbff;
  padding: 25px;
}

.payment-form .products .item {
  margin-bottom: 1em;
}
  
.payment-form .products .item-name {
  font-weight: 500;
  font-size: 0.9em;
}
  
.payment-form .products .item p {
  margin-bottom: 0.2em;
}
  
.payment-form .products .price {
  float: right;
  font-weight: 500;
  font-size: 0.9em;
}
  
.payment-form .products .total {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding-top: 19px;
  font-weight: 500;
  line-height: 1;
}
  
.payment-form .payment-details {
  padding: 25px 25px 15px;
  height: 100%;
}

.payment-form .payment-details label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #8C8C8C;
  text-transform: uppercase;
}
  
.payment-form button {
  margin-top: 0.6em;
  padding: 12px 0;
  font-weight: 500;
  background-color: #009EE3;
  margin-bottom: 10px;
}

.payment-form .mercadopago-button {
  width: 100%;
  padding: 8px 0;
} 
  
.payment-form a, .payment-form a:not([href]) {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #009ee3;
  cursor:pointer;
}

.payment-form a:not([href]):hover{
  color: #3483FA;
  cursor:pointer;
}

.input-background {
  background-position: 98% 50%;
  background-repeat: no-repeat;
  background-color: #fff;
}


footer {
  padding: 2% 10% 6% 10%;
  margin: 0 auto;
  position: relative;
}

#horizontal_logo {
	width: 150px;
  margin: 0;
}

footer p a {
  color: #009ee3;
  text-decoration: none;
}

footer p a:hover {
  color: #3483FA;
  text-decoration: none;
}
  
@media (min-width: 576px) {
	.payment-form .title {
	  font-size: 1.2em;
	}
  
	.payment-form .products {
	  padding: 40px;
	}
  
	.payment-form .products .item-name {
	  font-size: 1em;
	}
  
	.payment-form .products .price {
	  font-size: 1em;
	}
  
	.payment-form .payment-details {
	  padding: 20px 40px;
	}
  
	.payment-form .payment-details button {
	  margin-top: 1em;
	  margin-bottom: 15px;
  }

  .footer_logo {
    margin: 0 0 0 0;
    width: 20%;
    text-align: left;
    position: absolute;
  }

  .footer_text {
    margin: 0 0 0 65%;
    width: 200px;
    text-align: left;
    position: absolute
  }

  footer p {
    padding: 1px;
    font-size: 13px;
    color: RGBA(0,0,0,0.45);
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  footer {
    padding: 5% 1% 15% 1%;
    height: 55px;
  }

  footer p {
    padding: 1px;
    font-size: 11px;
    margin-bottom: 0;
  }
  .footer_text {
    margin: 0 0 0 45%;
    width: 180px;
    position: absolute
  }

  .footer_logo {
    margin: 0 0 0 0;
    position: absolute;
  }
}