<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Número de pedido: {{ pedido.id }}</h3>
    <p>Responsable del pedido: {{ nombre_usuario }}</p>
    <hr>
    <h4>Detalle del pedido:</h4>
    {% for linea_pedido in lineas_pedido %}
        <p>Producto: {{ linea_pedido.producto.nombre }}</p>
        <p>Cantidad: {{ linea_pedido.cantidad }}</p>
        <p>Precio unitario: {{ linea_pedido.precio_al_momento }} $</p>
        <hr>
    {% endfor %}
    <p>Total: {{ pedido.total }} $</p>


</body>
</html>